@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff');
* {
    font-family: 'RIDIBatang';
    font-weight: normal;
    font-style: normal;
}

.updown-slash {
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-start {
    margin: 0 auto;
    width: 50%;
    font-size: 18px;
    color: #1f1f1f;
    background-color: #FDE7D6;
    border:#1f1f1f;
}
.main-title {
    font-size: 22px;
    color: #7c7c7c;
}

.sub-title {
    font-size: 28px;
    font-weight: 100;
    color: #bb891de5;
}

article {
    display: flex;
    flex-direction: column;
}

.question{
    display:none;
    background-color: #1f1f1f;
    background-image:url('/image/1.jpg');
    background-size: cover;
}

.result{
    display:none; 
}

#img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.start {
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
    line-height: 3.5rem;
}

.share{
    margin:0 auto;

}

.kakao_ad{
    width:320px;
    margin:0 auto;
}

.btn-attr{
        font-size: 16px;
        color:#1f1f1f;
        background-color: #ffffff;
        border:#1f1f1f;
        border-radius: 10px;
        opacity:70%;
        padding:30px;
        width:70%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
        font-weight:bolder;
}

.btn-title{
    font-size: 25px;
    color:#1f1f1f;
    background-color: #ffffff;
    border:#1f1f1f;
    border-radius: 10px;
    opacity:70%;
    padding:30px;
    width:70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
    font-weight:bolder;
}

.progress-bar {
    background-color: #ff9300;
}
.progress {
    background-color: #525764;
    margin-bottom: 20px;
    width:90%;
    margin : 0 auto;
    
}

#image{
    background-image: 100px;
    opacity: 30%;
}

#character, #explain{
    color: #eafffc;
}